 {% extends 'base.html' %} {% block title %} {{ ship.name }} - {{ block.super }} {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Ship Last Port  Information</a></li>

{% endblock %} {% block content %}
<div class="jumbotron">
    <h4>M/V {{information.ship}}</h4>
    <p>Master: {{information.captain.master}}</p>
</div>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">type</th>
            <th colspan="2">Information</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td colspan="2">imo number</td>
            <td>{{information.imo}}</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td colspan="2">MMSI number</td>
            <td>{{information.mmsi}}</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Call Sign</td>
            <td>{{information.callsign}}</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td colspan="2">Gross Tonage</td>
            <td>{{information.gross}}</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td colspan="2">Dead Weight</td>
            <td>{{information.deadweight}}</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td colspan="2">Build Year</td>
            <td>{{information.buildyear}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}